body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  margin-top: 80px;
  border-radius: 10px;
}

h1 {
  color: #333;
  text-align: center;
}

.title {
  text-align: center;
  color: #777;
}

h2 {
  margin-top: 30px;
}

p {
  line-height: 1.6;
}
nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: blue;
}
